
body {
    background-color: #dfdfdf;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: white;
    /* color:  #21c600; */
    padding-top: 50px;
    margin-top: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.navbar{
  background: rgba(0, 0, 0, 0.8);
  border-color: transparent;
}


/* home */
.home{
  background: rgba(103,176,99,1);
  background: -moz-linear-gradient(top, rgba(103,176,99,1) 0%, rgba(6,92,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(103,176,99,1)), color-stop(100%, rgba(6,92,0,1)));
  background: -webkit-linear-gradient(top, rgba(103,176,99,1) 0%, rgba(6,92,0,1) 100%);
  background: -o-linear-gradient(top, rgba(103,176,99,1) 0%, rgba(6,92,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(103,176,99,1) 0%, rgba(6,92,0,1) 100%);
  background: linear-gradient(to bottom, rgba(103,176,99,1) 0%, rgba(6,92,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b063', endColorstr='#065c00', GradientType=0 );
  padding: 15% 0% 15%;
}
#short{
  padding-top: 30px;

}

/* buttom go */
.home span{
  margin: 0px;
}
.btn{
  border-radius: 26px;
}
#copy{
  border: 0px;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}
#btn-flat{
  background: #00bfff;
  margin: 0px -1px 0px 0px;
  /* margin-top: -2px; */
  margin-left: -2px;
  border: 0px;
  padding: 10px;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
}
#btn-flat:hover{
  background: #26b3e2;

}
/* buttom go */


/* home */

.showcase{
  background: rgba(46,164,255,1);
  background: -moz-linear-gradient(45deg, rgba(46,164,255,1) 0%, rgba(0,132,255,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(46,164,255,1)), color-stop(100%, rgba(0,132,255,1)));
  background: -webkit-linear-gradient(45deg, rgba(46,164,255,1) 0%, rgba(0,132,255,1) 100%);
  background: -o-linear-gradient(45deg, rgba(46,164,255,1) 0%, rgba(0,132,255,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(46,164,255,1) 0%, rgba(0,132,255,1) 100%);
  background: linear-gradient(45deg, rgba(46,164,255,1) 0%, rgba(0,132,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ea4ff', endColorstr='#0084ff', GradientType=1 );
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
}
.singup{
  padding-top: 15px;
}
.showcase a{
    color: white;
    text-decoration: none;
    outline:0 ;
}

/* about */
.about{
  color: green;
  padding: 20% 0% 20%;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

@media (max-width: 1199.98px) {
  .about .col-lg-6{
    padding-bottom: 50px;
  }
}
/* about */

/* desc */
.desc{
  padding: 20% 0% 20%;
  text-align: center;
  background: rgba(171,3,42,1);
  background: -moz-linear-gradient(top, rgba(171,3,42,1) 0%, rgba(141,2,34,1) 44%, rgba(114,0,27,1) 88%, rgba(107,0,25,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(171,3,42,1)), color-stop(44%, rgba(141,2,34,1)), color-stop(88%, rgba(114,0,27,1)), color-stop(100%, rgba(107,0,25,1)));
  background: -webkit-linear-gradient(top, rgba(171,3,42,1) 0%, rgba(141,2,34,1) 44%, rgba(114,0,27,1) 88%, rgba(107,0,25,1) 100%);
  background: -o-linear-gradient(top, rgba(171,3,42,1) 0%, rgba(141,2,34,1) 44%, rgba(114,0,27,1) 88%, rgba(107,0,25,1) 100%);
  background: -ms-linear-gradient(top, rgba(171,3,42,1) 0%, rgba(141,2,34,1) 44%, rgba(114,0,27,1) 88%, rgba(107,0,25,1) 100%);
  background: linear-gradient(to bottom, rgba(171,3,42,1) 0%, rgba(141,2,34,1) 44%, rgba(114,0,27,1) 88%, rgba(107,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab032a', endColorstr='#6b0019', GradientType=0 );
}
#ico {
    font-size: 100px;
    -webkit-transition: 1s all;
    -webkit-transition-delay: 1s;
    -moz-transition: 1s all;
    -moz-transition-delay: 1s;
    -ms-transition: 1s all;
    -ms-transition-delay: 1s;
    -o-transition: 1s all;
    -o-transition-delay: 1s;
    transition: 1s all;
    transition:1s;
}
#ico:hover {
    font-size: 150px;
}
@media (max-width: 1199.98px) {
   .desc-estil{
    padding-bottom: 50px;
  }
}
/* desc */

/* faq */
.faq{
  padding: 15% 0% 15%;
  background: rgba(255,163,51,1);
  background: -moz-linear-gradient(top, rgba(255,163,51,1) 0%, rgba(245,135,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,163,51,1)), color-stop(100%, rgba(245,135,0,1)));
  background: -webkit-linear-gradient(top, rgba(255,163,51,1) 0%, rgba(245,135,0,1) 100%);
  background: -o-linear-gradient(top, rgba(255,163,51,1) 0%, rgba(245,135,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,163,51,1) 0%, rgba(245,135,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,163,51,1) 0%, rgba(245,135,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa333', endColorstr='#f58700', GradientType=0 );
}
.faq a{
  text-decoration: none;
  outline:0 ;
  color: white;
}
.faq p{
  color: black;
}
@media (max-width: 1199.98px) {
   .accordion{
      padding-top: 50px;
      text-align: center;
  }
  .faq .image, .faq span{
    display: none;
  }
}
/* faq */


/* footer */
.footer{
  	background:  #101010;
    padding-top: 20%;
  	padding-bottom: 20%;
  	text-align: center;
}
.footer a{
  color: white;
  text-decoration: none;
  outline:0 ;
}
@media (max-width: 1199.98px) {
   .footer a{
    text-align: center;
    display: block;
  }
  .footer span{
    display: none;
  }
}
