*{
  margin: 0;
  padding: 0;
  outline: 0;
}
html,body{
  /* height:100%; */
}

html{
  min-height: 100%;
  /* position: relative; */
}

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    /*color: #555;*/
    color:  #21c600;
    /* padding-top: 50px; */
    /* margin-bottom: 100px; */
    margin: 0px;
    /* padding-bottom: 0px; */
    bottom: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


.login-page{
  background: #008d4c;
  color: white;
  /* padding-bottom: 50%; */

}
.login-logo a{color: white;}
.login-logo a:hover,focus{ color: rgb(255, 255, 255)}
.login-box-body  a{color: blue;}
.login-box-body a:hover,focus{ color: rgb(0, 0, 0)}

.register-box-body  a{color: blue;}
.register-box-body a:hover,focus{ color: rgb(0, 0, 0)}

.register-box .login-box{
  min-height:100%;
  height: auto!important;
  height:100%;
  /* bottom: 40%; */
  /* margin-bottom: 50%; */
}
.register-box-body .login-box-body{
  /* margin-bottom: 50%; */
  /* padding-bottom: 40%; */
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #ffea00;
}


/* Links */

a {
    color: #fff;
    /* color: #002dcb; */
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    /* color: #002dcb; */
    color: #FFF5F4;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/* footer */
.footer{
  margin-top: 60%;
  bottom: 0;
  margin-bottom: 0px;
  background-color: #101010;
  /* padding-top: 10%;
  padding-bottom: 10%; */
  padding-top: 50px;
  padding-bottom: 50px;
  /* padding-top: 40px; */
  /* display: block; */
  width: 100%;
  /* height: 100%; */
}
footer{
  /* position: fixed; */
}
.footer a{
    color: white;
}
@media (max-width: 1199.98px) {
   .footer a{
    text-align: center;
    display: block;
  }
  .footer span{
    display: none;
  }
}
