*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.section1{
    background: rgb(240, 171, 22);
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    word-wrap: break-word;
}
.section1 h1,h2,p{
    padding-top: 0.5%;
    padding-bottom: 0.7%;
    margin-left: 20px;
    margin-right:20px;
    
}
.section1 p{
    font-size: 1.5em;
}


/* section2 */
.section2{
    background: rgb(214, 230, 179);
    margin: 0px;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    word-wrap: break-word;
}
.section2 h1,p{
    padding-top: 0.5%;
    padding-bottom: 0.7%;
    margin-left: 30px;
    margin-right:30px;
}
.section2 p{
    font-size: 1.5em;
}
/* .section2 .row{
    margin-bottom: 10%;
    padding-bottom: 0px;
} */
@media (max-width: 576px) { 
    .section1 h1,h2,p{
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .section2 h1,p{
        padding-top: 7%;
        padding-bottom: 7%;
    }
   
 }

@media (max-width: 576px) {
    .footer a{
        text-align: center;
        display: block;
    }
   .footer span{
        display: none;
    }
 }