
body {
  /*background-color:  #19981a;*/
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    /*color: #555;*/
    color: #21c600;
    padding-top: 50px;
    margin-top: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.navbar{
  background: rgba(0, 0, 0, 0.8);
  border-color: transparent;
}
#rows{
  background-color: #19981a;
  padding-top: 50px;
  padding-bottom: 50px;
}
.panel-body{
  color: rgb(115, 115, 107);
}


a {
    color: #fff;
    word-wrap: break-word;
    font-size: 16px;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #FFF5F4;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
b i{
  color: red;
}



.footer{
  background-color: #101010;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.footer p{
  color: white;
  line-height: 28px;
  margin-bottom: 25px;
  text-align: center;
}
