#top {
  display: none;
  text-align: center;
  /*padding: 20px;*/
  background: rgb(0, 0, 0);
  color: green;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;

  cursor: pointer;
  border-radius:  30px;
  opacity: .7;

  /*background-clip: padding-box;*/
  /*box-sizing: border-box;*/
}
#top span{
  position: relative;
  top: 12px;
  font-size: 25px;
}
