footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background: #222222;
  padding: 60px;
  width: 100%;
  /* margin-top: 30%; */
  text-align: center;
}
#c p {
  color: white
}
a {
    color: #fff;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
    color: #FFF5F4;
    text-decoration: none;
    outline: 0;
}
a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr{
  margin-top: 100px;
}
#check{
  margin-bottom: 300px;
}
#terms{
  color: #337ab7;
}
#terms:hover{
  color: #331ac9;
}
